.btn-outline-primary {
    box-shadow: none !important;
    color: #ef5350;
    border-color: #ef5350;
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
    background-color: #ef5350 !important;
    box-shadow: none !important;
    border-color: #ef5350 !important;
}

.btn-primary {
    background-color: #ef5350;
    box-shadow: none !important;
    border-color: #ef5350;
}

.btn-primary:disabled {
    background-color: #ef5350;
    box-shadow: none !important;
    border-color: #ef5350;
    cursor: not-allowed;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #da4f4c !important;
    box-shadow: none !important;
    border-color: #da4f4c !important;
}

.pokemons-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    height: 15rem;
    overflow: auto;
    box-shadow: none !important;
}

.modal-container {
    height: 100vh;
    width: 100vw;
    background-color: #35353590;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 0.5s ease-in-out;
}

.custom-modal {
    width: 50%;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px #35353590;
    transition: all 1s ease-in-out !important;
}

.pokemons-grid-modal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    overflow: auto;
    box-shadow: none !important;
}