.btn-outline-primary {
  box-shadow: none !important;
  color: #ef5350;
  border-color: #ef5350;
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
  background-color: #ef5350 !important;
  box-shadow: none !important;
  border-color: #ef5350 !important;
}

.btn-primary {
  background-color: #ef5350;
  box-shadow: none !important;
  border-color: #ef5350;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #da4f4c !important;
  box-shadow: none !important;
  border-color: #da4f4c !important;
}

.pokemons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  height: 20rem;
  overflow: auto;
  box-shadow: none !important;
}
