.btn-outline-primary {
  color: #EF5350;
  border-color: #EF5350;
}

.btn-outline-primary:hover {
  background-color: #EF5350;
  border-color: #EF5350;
}

 .btn-primary {
  background-color: #EF5350;
  border-color: #EF5350;  
}

.btn-primary:hover {
  background-color: #da4f4c;
  border-color: #da4f4c;  
}

.pokemons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  height: 25rem;
  overflow: auto;
}